@page
@model ExerciseVideo.Pages.WorkoutModel
@using ExerciseVideo.Data

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Workout</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body class="body">

    <p id="spanExercise" class="display-6 text-center">
        Workout Time
    </p>

    <p id="spanTimer" class="display-1 text-center">
        ...
    </p>

    <div class="d-flex justify-content-center">
        <button id="btnStart" class="btn btn-primary" onclick="start()">Start</button>
        <button id="btnPause" class="disabled" disabled="true" onclick="pause()">Pause</button>
        <button id="btnReset" class="disabled" disabled="true" onclick="reset()">Reset</button>
    </div>


    @if (Model.Exercises != null)
    {
        <table class="table table=striped">
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Seconds</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Exercise exercise in Model.Exercises)
                {
                    <tr id="@("row"+exercise.Order)">
                        <td>
                            <button id="btnExercise" class="btn btn-link" onclick="goToExercise(@exercise.Order)">@exercise.Name</button>
                        </td>
                        <td>
                            @exercise.Time
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <br />

    

    <br />
    <br />


    

</body>


<script type="text/javascript"> 
    
    var exercises = new Array();
    var mode;
    var row;
    var seconds;
    var timer;

    window.onload = buildExerciseArray;

    function buildExerciseArray() {

        @if (Model.Exercises != null)
        {
            @:exercises.push({ Name: "Get Ready...", Time: 3 });
            foreach (var exercise in Model.Exercises)
            {
                @:exercises.push({ Name: "@exercise.Name", Time: "@exercise.Time" });
            }
            @:exercises.push({ Name: "Finished!", Time: 0 });
        }
        if (exercises.length == 0) {
            disableStart();
        }

    }

    var countdown = () => {
        console.log("countdown:" + row + "|" + seconds);
        updateExerciseDisplay();
        if (seconds == 0 && row < (exercises.length - 1)) {
            if (@Model.TransitionTime > 0) {
                stopTimer();
            }
            transition();
        }
        else if (seconds == 0 && row >= (exercises.length - 1)) {
            mode = "finished";
            stopTimer();
            enableButton("btnReset");
            disableButton("btnPause");
        }
        else {
            seconds--;
        }
    }
    
    var disableButton = (buttonId) => {
        console.log("disableButton:" + buttonId);
        document.getElementById(buttonId).disabled = true;
        document.getElementById(buttonId).className = "disabled";
    }

    var enableButton = (buttonId) => {
        console.log("enableButton:" + buttonId);
        document.getElementById(buttonId).disabled = false;
        document.getElementById(buttonId).className = "btn-primary";
    }

    var flashEmptyTitle = () => {
        console.log("flashEmptyTitle");
        document.getElementById("spanExercise").style.color = "white";
        document.getElementById("spanTimer").style.color = "white";
    }

    var flashTemporaryTitle = () => {
        var dots = (document.getElementById("spanTimer").textContent.split('.').length - 1) / 2
        console.log("flashTemporaryTitle:" + dots);
        if (dots == 0) {
            updateTableDisplay();
            document.getElementById("spanExercise").textContent = exercises[row].Name;
            document.getElementById("spanTimer").textContent = "..." + seconds + "...";
            document.getElementById("spanExercise").style.color = "black";
            document.getElementById("spanTimer").style.color = "black";
        }
        else if (dots == 3) {
            document.getElementById("spanTimer").textContent = ".." + seconds + "..";
        }
        else if (dots == 2) {
            document.getElementById("spanTimer").textContent = "." + seconds + ".";
        }
        else if (dots == 1) {
            document.getElementById("spanTimer").textContent = seconds;
        }
    }

    var goToExercise = (exerciseId) => {
        console.log("gotoExercise:" + exerciseId);
        row = (exerciseId + 1);
        seconds = exercises[row].Time;
        for (let i = 0; i < exerciseId; i++) {
            document.getElementById("row" + i).className = "table-secondary";
        }
        for (let i = (exerciseId + 1); i < exercises.length - 2; i++) {
            document.getElementById("row" + i).className = "";
        }
        document.getElementById("btnStart").textContent = "Resume";
        pause();
        mode = "goto";
        updateExerciseDisplay();
        updateTableDisplay();
    }

    var pause = () => {
        console.log("pause");
        mode = "pause";
        stopTimer();
        enableButton("btnStart");
        enableButton("btnReset");
        disableButton("btnPause");
    }

    var reset = () => {
        console.log("reset");
        mode = null;
        document.getElementById("btnStart").textContent = "Start";
        enableButton("btnStart");
        disableButton("btnPause");
        disableButton("btnReset");
        resetDisplay();
    }

    var resetDisplay = () => {
        console.log("resetDisplay");
        document.getElementById("spanExercise").textContent = "Workout Time";
        document.getElementById("spanTimer").textContent = "...";
        for (let i = 0; i < exercises.length - 2; i++)
            {
                document.getElementById("row" + i).className = "";
            }
    }

    var start = () => {
       console.log("start");
        if (mode == null) {
            row = 0;
            seconds = exercises[row].Time;
            document.getElementById("btnStart").textContent = "Resume";
            countdown();
        }
        else if (mode == "goto") {
            countdown();
        }
        mode = "play";
        enableButton("btnPause");
        disableButton("btnReset");
        disableButton("btnStart");
        startTimer();

    }

    var startTimer = () => {
        console.log("startTimer");
        timer = setInterval(countdown, 1000);
    }

    var stopTimer = () => {
        console.log("stopTimer");
        clearInterval(timer);
    }

    var transition = () => {
        console.log("transition");
        updateExerciseDisplay();
        row++;
        seconds = exercises[row].Time;
        if (@Model.TransitionTime > 0 && row < exercises.length - 1) {
            setTimeout(flashEmptyTitle, 1000);
            setTimeout(flashTemporaryTitle, @Model.TransitionTime * 0.25 * 1000 + 1000);
            setTimeout(flashTemporaryTitle, @Model.TransitionTime * 0.5 * 1000 + 1000);
            setTimeout(flashTemporaryTitle, @Model.TransitionTime * 0.75 * 1000 + 1000);
            setTimeout(flashTemporaryTitle, @Model.TransitionTime * 1000 + 1000);
            setTimeout(startTimer, (@Model.TransitionTime) * 1000);
        }
        else if (@Model.TransitionTime > 0) {
            updateExerciseDisplay();
            startTimer();
        }
    }

    var updateExerciseDisplay = () => {
        console.log("updateExerciseDisplay");
        document.getElementById("spanExercise").textContent = exercises[row].Name;
        document.getElementById("spanTimer").textContent = seconds;
    }

    var updateTableDisplay = () => {
        console.log("updateTableDisplay");
        if (row > 0 && row < exercises.length - 1) {
            document.getElementById("row" + (row - 1)).className = "table-primary";
        }
        if (row > 1) {
            document.getElementById("row" + (row - 2)).className = "table-secondary";
        }
    }

    </script>
